@{
    ViewBag.Title = "Add Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-20">

    <div class="row">
        <form action="@Url.Action("PostAddMenu", "Menu")" method="post" id="postAddMenu" enctype="multipart/form-data">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h2 class="panel-title text-center text-bold">New Menu</h2>
                        </div>

                        <div class="panel-body">
                            <legend class="text-bold text-uppercase"><span class="text-danger">*</span> Fields are mandatory to fill</legend>


                            <div class="form-group">
                                <label class="text-bold">Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control bg-lightgrey" id="menuName" required name="Name" placeholder="">
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Notes <span class="text-danger">*</span></label>
                                <input type="text" class="form-control bg-lightgrey" id="menuNotes" required name="Notes" placeholder="">
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Category <span class="text-danger">*</span><i class="icon-spinner" id="categoriesLoader" style="display:none"></i></label>
                                <div class="multi-select-full bg-lightgrey border-bottom-grey">
                                    <select class="select" id="categoriesDropdown" name="CategoryId" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-bold">MenuType <span class="text-danger">*</span><i class="icon-spinner" id="menuTypeLoader" style="display:none"></i></label>
                                <div class="multi-select-full bg-lightgrey border-bottom-grey">
                                    <select class="select" id="menuTypeDropdown" name="MenuTypeId" required>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Date <span class="text-danger">*</span></label>
                                <input type="date" name="Date" id="menuDate" class="form-control bg-lightgrey" required>
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Menu Link (Url)</label>
                                <input type="text" class="form-control bg-lightgrey" name="Link">
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Menu Ingredients <span class="text-danger">*</span><i class="icon-spinner" id="ingredientsLoader" style="display:none"></i></label>
                                <div class="multi-select-full bg-lightgrey border-bottom-grey">
                                    <select multiple="multiple" class="select" id="ingredientsDropdown" name="Ingredients" required>
                                        
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Menu Products <span class="text-danger">*</span><i class="icon-spinner" id="productsLoader" style="display:none"></i></label>
                                <div class="multi-select-full bg-lightgrey border-bottom-grey">
                                    <select multiple="multiple" class="select" id="productsDropdown" name="Products" required>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Menu Preperations <span class="text-danger">*</span><i class="icon-spinner" id="preperationsLoader" style="display:none"></i></label>
                                <div class="multi-select-full bg-lightgrey border-bottom-grey">
                                    <select multiple="multiple" class="select" id="preperationsDropdown" name="Preperations" required>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Cooking</label>
                                <input type="text" class="form-control bg-lightgrey" name="Cooking" placeholder="">
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Preperation For Bea or Staff</label>
                                <input type="text" class="form-control bg-lightgrey" name="PreperationForBeaorStaff" placeholder="">
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Weight (in grams)</label>
                                <input type="text" class="form-control bg-lightgrey" name="Weight" placeholder="">
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Photo</label>
                                <input type="file" class="form-control bg-lightgrey" name="Picture" accept="image/*">
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <a href="@Url.Action("Index","Menu")" class="btn btn-primary"><i class="fa-solid fa fa-arrow-left position-left"></i> Back To List</a>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" id="subBtn" disabled class="btn btn-primary pull-right">Add <i class="icon-database-insert position-right"></i></button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts{
    <script>
        getCategoriesList();
        function getCategoriesList() {
            $("#categoriesLoader").css("display", "inline-block");
            $("#menuTypeLoader").css("display", "inline-block");
            $("#ingredientsLoader").css("display", "inline-block");
            $("#productsLoader").css("display", "inline-block");
            $("#preperationsLoader").css("display", "inline-block");
            $.ajax({
                type: 'POST',
                url: "../Category/GetMenuCategoryList",
                dataType: "json",
                success: function (response) {
                    var appendDropdown = "";
                    for (var item = 0; item < response.length; item++) {
                        appendDropdown += '<option value="' + response[item].encId + '">' + response[item].name + '</option>';

                    }
                    $("#categoriesDropdown").append(appendDropdown);
                },
                error: function (error) {
                    console.log("Categories", error);
                },
                complete: function () {
                    $("#categoriesLoader").css("display", "none");
                    getIngredientsList();
                }
            });
        }

        function getIngredientsList() {
            $.ajax({
                type: 'POST',
                url: "../Ingredient/GetIngredientList",
                dataType: "json",
                success: function (response) {
                    console.log("Ingredients", response);
                    var appendDropdown = "";
                    for (var item = 0; item < response.length; item++) {
                        appendDropdown += '<option value="' + response[item].encId + '">' + response[item].name + '</option>';

                    }
                    $("#ingredientsDropdown").append(appendDropdown);
                },
                error: function (error) {
                    console.log("Ingredients", error);
                },
                complete: function (){
                    $("#ingredientsLoader").css("display", "none");
                    getproductsList();
                }
            });
        }

        function getproductsList() {
            $.ajax({
                type: 'POST',
                url: "../Product/GetProductList",
                dataType: "json",
                success: function (response) {
                    console.log("Product", response);
                    var appendDropdown = "";
                    for (var item = 0; item < response.length; item++) {
                        appendDropdown += '<option value="' + response[item].encId + '">' + response[item].name + '</option>';

                    }
                    $("#productsDropdown").append(appendDropdown);
                },
                error: function (error) {
                    console.log("Product", error);
                },
                complete: function () {
                    $("#productsLoader").css("display", "none");
                    getMenuTypeList();
                }
            });
        }

        function getMenuTypeList() {
            $.ajax({
                type: 'POST',
                url: "../MenuType/GetMenuTypeList",
                dataType: "json",
                success: function (response) {
                    console.log("MenuType", response);
                    var appendDropdown = "";
                    for (var item = 0; item < response.length; item++) {
                        appendDropdown += '<option value="' + response[item].encId + '">' + response[item].name + '</option>';

                    }
                    $("#menuTypeDropdown").append(appendDropdown);
                },
                error: function (error) {
                    console.log("MenuType", error);
                },
                complete: function () {
                    $("#menuTypeLoader").css("display", "none");
                    getPreperationList();
                }
            });
        }

        function getPreperationList() {
            $.ajax({
                type: 'POST',
                url: "../Preperation/GetPreperationList",
                dataType: "json",
                success: function (response) {
                    console.log("Preperation", response);
                    var appendDropdown = "";
                    for (var item = 0; item < response.length; item++) {
                        appendDropdown += '<option value="' + response[item].encId + '">' + response[item].name + '</option>';

                    }
                    $("#preperationsDropdown").append(appendDropdown);
                },
                error: function (error) {
                    console.log("Preperation", error);
                },
                complete: function (){
                    $("#preperationsLoader").css("display", "none");
                    $("#subBtn").attr("disabled", false);
                }
            });
        }
        
    </script>
}